#忽略的文件

/KeilIDE/DOC
/KeilIDE/Project/OBJ
/KeilIDE/Project/sourceinsight/
/si
*.iex
*.ini
*.lst
*.bin  
!*.c   
!*.h  
*.log  
*.plg  
*.bak  
*.dep  
*.uvgui.*  
JLinkLog.txt  
*.o  
*.d  
*.crf  
*.tra  
*.axf  
*.hex  
*.lnp   
*.i  
*.html
*.map
RTE_Components.h
*.htm
*.sconsign.dblite
*.pyc
*.sct
!*/agri_rtk_link_address.sct
!*/agri_rtk_link_address_fw.sct

